/*---------------------------------------------------- import Fonts ----------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap");

/// Special Effect font
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

///
@font-face {
  font-family: "Blueberry";
  src: url(fonts/Blueberry.ttf) format("truetype");
  letter-spacing: 2px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --bg: #0f172a;
  --p-clr: #8d9cb1;
  --fntwit: 400;
  --comforta: "Comfortaa", cursive;
  --text_clr_main: #23547b;
  --text_clr_red: #f14a58;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

  font-weight: var(--fntwit);
}

p {
  line-height: 1.2;
}

input,
button {
  border: none;
}

.btn {
  display: inline-block;
  background-color: var(--orng);
  padding: 0.7rem 1.5rem;
  border-radius: 3px;
  color: var(--white);
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  border-radius: 5px;
  padding: 0 2rem;
  text-align: center;
}

body {
  font-family: "special elite", "Roboto", sans-serif;
  font-weight: var(--fntwit);
  font-style: normal;
  line-height: 1.5;
  position: relative;
  color: var(--bg);
}

h1,
h2,
h3,
h5,
h6 {
  font-family: "Blueberry";
  letter-spacing: 2px;
}

span,
p {
  font-family: "Special Elite";
  font-size: 1.4rem;
}

section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  overflow: hidden;
  position: relative;
}

// .main::after {
//   content: "the BENJI nft";
//   bottom: 0;
//   left: 50%;
//   transform: translateX(-50%);
// }

.sm,
ul .extra_sm {
  display: none;
}

/*---------------------------------------------------- 
Header Area
----------------------------------------------------*/

header {
  z-index: 99;
  background-color: white;
  right: 0;
  left: 0;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.nav {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 0.5rem 0;
}

nav .hamburger {
  display: none;
}
nav,
nav ul,
li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_left {
  font-weight: 900;
  font-size: 2rem;
  color: black;
  a {
    font-weight: 900;
    color: var(--bg);
    border: 0;
    margin: 0;
    height: 100%;
  }
}

.nav_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_right ul {
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.nav li a {
  font-size: 1.1rem;
  color: var(--white);
}

.nav ul li a {
  font-weight: 800;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}

.nav ul li a:hover {
  opacity: 1;
}

.nav ul li .active {
  opacity: 1;
}

/*---------------------------------------------------- 
Main Area
----------------------------------------------------*/

.main {
  background-image: url(images/main/main_bg.png);
  height: 650px;
  position: relative;
  .container {
    display: flex;
    justify-content: flex-end;
  }
}

.social_icons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;

  img {
    width: 4rem;
  }
}

.hero_dog,
.sun,
.grass,
.bee {
  img {
    position: absolute;
  }
}

.benji {
  position: absolute;
  top: 2rem;
  left: 4rem;
}

.butterfly {
  position: absolute;
  right: -5rem;
  top: 3rem;
}

.benji img {
  width: 28rem;
}

.butter_yellow img {
  width: 4rem;
}

.butter_red img {
  width: 3.2rem;
  transform: translate(1rem, 1.2rem);
}

.bee img {
  width: 2.5rem;
  transform: rotate(-20deg) scaleX(-1);
  left: 4rem;
  bottom: 20rem;
}
.hero_dog img {
  width: 13.5rem;
  bottom: 0;
  left: 8rem;
}

.grass img {
  width: 100%;
  bottom: 0;
}

.grass_sm {
  display: none;
}

/*---------------------------------------------------- 
NFT Area
----------------------------------------------------*/

.nft {
  position: relative;
  padding-top: 6rem;
  background-image: url(images/nft/nft_bg.png);
  height: 100%;
  width: 100%;

  .nft_top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }

  p {
    margin-top: 1rem;
  }

  p span {
    color: rgb(219, 219, 0);
  }
}

.nft h3 {
  font-size: 2.5rem;
}

.nft_left {
  position: relative;
  max-width: 30rem;
  width: 100%;
}

.yellow_love img {
  position: absolute;
  width: 3rem;
  top: -4.5rem;
  left: -3rem;
  transform: rotate(-10deg);
}

.red_love img {
  position: absolute;
  width: 4rem;
  top: -1rem;
  left: 0;
  transform: rotate(-20deg);
}

.nft_right {
  position: relative;
  .dog_gf img {
    max-width: 24rem;
    width: 100%;
    min-width: 17rem;
  }

  .bug img {
    position: absolute;
    top: -2.5rem;
    right: 3rem;
    width: 2rem;
  }
  .bone img {
    position: absolute;
    width: 11.3rem;
    right: -5rem;
    bottom: -3.6rem;
  }
}

.nft_bottom {
  position: relative;
  h3 {
    font-size: 3rem;
    margin-top: 8rem;
    padding-bottom: 2rem;
  }

  .cam_dog img {
    position: absolute;
    width: 10.5rem;
    left: 3rem;
    bottom: 3.4rem;
  }
}

/*---------------------------------------------------- 
History Area
----------------------------------------------------*/

.history {
  padding: 6rem 0 10rem 0;
  background-image: url(images/history/history_bg1.png);
}

.history_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  h3 {
    font-size: 2.6rem;
  }
}

.history_left {
  position: relative;
}

.frame {
  img {
    position: absolute;
    top: -1rem;
    left: -6rem;
    width: 6rem;
    transform: rotate(-25deg);
  }
}

.frame_dog {
  img {
    width: 23rem;
  }
}

.history_right {
  position: relative;
  max-width: 25rem;
  width: 100%;

  .flower_gif {
    img {
      position: absolute;
      right: -1rem;
      top: -1.5rem;
      width: 4.5rem;
    }
  }

  p {
    margin-top: 1rem;
  }
}

/*---------------------------------------------------- 
Team Area
----------------------------------------------------*/

.team {
  background-image: url(images/team/team_bg.png);
  padding: 5rem 0;
}

.team_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  h2,
  h4,
  a {
    color: #23547b;
  }
}

.team_members {
  margin-top: 4rem;
}

.team_members {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  justify-content: space-around;
  justify-items: center;
}

.member {
  display: flex;
  gap: 1rem;

  a {
    font-size: 1.3rem;
  }
}

.member_img img {
  width: 9rem;
}

.member_info {
  max-width: 23rem;
  width: 100%;
  p:last-child {
    margin-top: 1rem;
  }
}

.without_margin p:last-child {
  margin-top: 0;
}

.team_members .member:nth-child(even) {
  flex-flow: row-reverse;
  text-align: right;
}
.team_members .member:nth-child(odd) {
  text-align: left;
}

.member_img {
  position: relative;
}

.love_dog img {
  position: absolute;
  width: 4.8rem;
  top: -7.4rem;
  right: -0.8rem;
}

.team_top {
  h2 {
    color: #202020;
    font-size: 2.5rem;
  }
  .butter_red img {
    display: none;
  }
}

/*---------------------------------------------------- 
Utility Area
----------------------------------------------------*/
.utility {
  padding: 3rem 0 1rem 0;
  background-image: url(images/utility/utility_bg.png);
  p,
  span {
    color: var(--text_clr_main);

    line-height: 1.5;
  }
  span {
    color: var(--text_clr_red);
  }
}

.utility_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sorrow_dog img {
  position: absolute;
  left: -11rem;
  top: -0.5rem;
}

.utility_top {
  display: inline-block;
  position: relative;
}
.utility h2 {
  font-family: "blueberry";
  color: var(--text_clr_red);
  font-size: 2.2rem;
  z-index: 5;
}

.lock_pin img {
  position: absolute;
  right: -1.9rem;
  bottom: -1.9rem;
  width: 2.5rem;
}

.utility_middle {
  margin-top: 2.5rem;
}

.thum_text {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .text {
    display: flex;
    position: relative;
    margin-top: 1.5rem;
    p {
      max-width: 35rem;
      width: 100%;
    }
  }

  p,
  span {
    font-size: 1.1rem;
  }

  .text_second {
    position: relative;

    .logo_dog img {
      position: absolute;
      right: -7rem;
      top: 1rem;
      width: 7.5rem;
    }
  }
}

.thum_img {
  img {
    width: 1.8rem;
    position: absolute;
    top: 0rem;
  }
}

.text_first img {
  transform: rotate(-25deg);
  top: -0.4rem;
}
.text_second .thum_img img {
  transform: rotate(10deg);
  left: -0.5rem;
  top: -0.8rem;
}
.text_third {
  .thum_img img {
    transform: rotate(-25deg);
    left: -2.5rem;
  }
}
.text_fourth img {
  transform: rotate(5deg);
  top: -1rem;
  left: 8.5rem;
}

.pink_dog img {
  width: 100%;
}

.utility_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
  p {
    font-size: 1.7rem;
  }
}

/*---------------------------------------------------- 
Gen2 Area
----------------------------------------------------*/
.gen2 {
  padding-bottom: 4rem;
  background-image: url(images/gen2/gen2_bg.png);
  a,
  p,
  span {
    font-family: "blueberry";
    color: var(--text_clr_main);
    font-size: 1.75rem;
    line-height: 1.5;
  }
}

.gen2_content {
  padding: 0 2.5rem;
}

.gen2_top {
  display: flex;
  justify-content: center;
  flex-direction: column;

  span {
    color: var(--text_clr_red);
  }
  .light_clr {
    color: #fa99af;
  }
}
.gen2_top_text {
  position: relative;
}

.clapboard img {
  margin-top: 1rem;
  width: 10rem;
}

.gen2_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    width: 83%;
  }
}

.con_with_banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.dog_banner {
  position: absolute;
  img {
    width: 7.5rem;
  }
}

.dog_banner_first {
  top: 3rem;
  left: -4.5rem;
}

.dog_banner_third {
  top: -0.5rem;
  right: -4.5rem;
}

.dog_banner_second {
  top: 20rem;
  left: -4.5rem;
}

.dog_banner_fourth {
  top: 20.5rem;
  right: -4rem;
}

p .light_clr {
  color: #fa99af;
}
p .red_clr {
  color: var(--text_clr_red);
}
p .comma {
  font-family: "Special Elite";
}

/*---------------------------------------------------- 
Woof Area
----------------------------------------------------*/

.woof {
  padding: 6rem 0;
  background-color: #ebbeb1;
}

.woof_content {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.woof_left {
  img {
    max-width: 35rem;
    width: 100%;
  }
}

.woof_right {
  h3 {
    color: var(--text_clr_main);
    font-size: 3rem;
  }
}

.footer_social_icons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;

  img {
    width: 4rem;
  }
}

/*-----
Sticky nav
---*/
.sticky {
  position: fixed;
}
